mixin plugins()
  script(
    src="libs/jquery.min.js"
    )
  script(
    src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"
    )
  script(
    src="./libs/popper.min.js"
    )
  script(
    src="./libs/bootstrap/js/bootstrap.min.js"
    )
  script(
    src="js/main.js"
    )
