mixin sidebar()
  nav.navbar.navbar__vertical.navbar-expand-md.navbar-light
    .container-fluid
      button.navbar-toggle.collapsed.d-md-none(
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      )
        span.navbar-toggler-icon
      .logo
        a.navbar-brand
          img.navbar-brand__img(src="./images/logo.svg")
      .user.d-md-none
        .dropup
          a#sidebarAvatarUp.dropdown-toggle(
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          )
            .user__avatar.user__avatar--sm.user__avatar--online
              img.user__img(
                src= "./images/avatar-1.jpg"
              )
          .dropdown-menu(
            aria-labelledby="sidebarAvatarUp"
          )
            a.dropdown-item(href= "#") Profile
            a.dropdown-item(href= "#") Setting
            hr.dropdown-devider
            a.dropdown-item(href= "#") Layout
      //- navbar collapse
      .navbar-collapse.collapse#navbarContent
        .search
          form.mb-3.d-md-none.search__form(action="#")
            .input-group.input-group--merge
              input.form-control.search__input(
                type= "search"
                placeholder="Search"
              )
              .input-group-prepend
                span.input-group-text
                  i.fe.fe-search
        +menu({mainMenu : mainMenus})
        hr.navbar-devider
        h6.navbar__heading Documentation
        +documentMenu({mainMenu : documentationMenu})
        .mt-auto
        .customize-action
            a.btn.btn-block.btn-primary(
              data-toggle="modal"
              href="#customizeModal"
            )
              i.fe.fe-sliders
              | Customize
        .navbar__user
          .notify-action
            a.btn.btn-block(
              data-toggle="modal"
              href="#notifyModal"
            )
              span
                i.fe.fe-bell
          .user
            .dropup
              a#sidebarAvatarUp.dropdown-toggle(
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              )
                .user__avatar.user__avatar--sm.user__avatar--online
                  img.user__img(
                    src= "./images/avatar-1.jpg"
                  )
              .dropdown-menu(
                aria-labelledby="sidebarAvatarUp"
              )
                a.dropdown-item(href= "#") Profile
                a.dropdown-item(href= "#") Setting
                hr.dropdown-devider
                a.dropdown-item(href= "#") Layout
          .search-action
            a.btn.btn-block(
              data-toggle="modal"
              data-target="#sidebarModalSearch"
            )
              span
                i.fe.fe-search
            
