mixin content()
  .main-content
    .container
      .content-header
        .content-header__title
          h6.content-header__sub-title overview
          h2.content-header__main-title Dashboard
        .content-header__inner
          +btn-custom({link : "#", text : "Create Report"})(class="btn-custom--primary")
      .content-body
        .row
          -
            var statistics = [
              {
                category : "budget",
                count : "$24,500",
                status : "+3.5%",
                icon : "fe fe-dollar-sign"
              },
              {
                category : "total hours",
                count : "763.5",
                icon : "fe fe-briefcase"
              },
              {
                category : "progress",
                count : "84.5%",
                progress : true,
                icon : "fe fe-clipboard"
              },
              {
                category : "effective hourly",
                count : "$85.50",
                icon : "fe fe-clock"
              }
            ]
          each val in statistics
            .col-lg-6.col-xl-3
              .card.statistic-chart
                .card-body
                  .row.align-items-center
                    .col.statistic-chart__inner
                      h6.statistic-chart__title= val.category
                      if val.progress
                        .row.align-items-center.statistic-chart__data
                          .col-auto.pr-0
                            span.statistic-chart__count= val.count
                          .col.pl-0
                            .progress.statistic-chart__progress
                              .progress-bar(
                                role="progressbar"
                                style="width:" + val.count
                                aria-valuenow= val.count
                                aria-valuemin="0"
                                aria-valuemax="100"
                              )
                      else
                        .statistic-chart__data
                          span.statistic-chart__count= val.count
                          if val.status
                            +badge-custom({ text : val.status})(class= "badge-custom--success")
                    .col-auto.statistic-chart__icon
                      span(class= val.icon)
        .row
          .col-xl-8
            .card.orders
              .card-header
                .d-flex.align-items-center
                  h4.orders__title Orders
                  .custom-control.ml-auto.custom-switch.orders__switch
                    span.text-muted Show affiliate:
                    label.switch
                      input#cardToggle(type="checkbox")
                      span.slider.round
              .card-body
                .chart
                  canvas#ordersChart(
                    width="627"
                    height="300"
                  )
          .col-xl-4
            .card.devices
              .card-header
                .d-flex.align-items-center
                  h4.devices__title Devices
                  ul.nav.devices__nav
                    li.nav-item
                      a.nav-link.active#js-devices-all(href="javascript:void(0)") All
                    li.nav-item
                      a.nav-link#js-devices-direct(href="javascript:void(0)") Direct
              .card-body
                .devices-chart
                  canvas#js-doughnut-chart(
                    width="277"
                    height="241"
                  )
        .row
          .col-xl-4
            .card.project
              .card-header
                .d-flex.align-items-center
                  h4.project__title Projects
                  a.text-small.project__viewall(href="#") View all
              .card-body
                .list-group.list-group-flush.project__list
                  -
                    var projectList = [
                      {
                        image : "./images/project-1.jpg",
                        title : "Homepage Redesign",
                        datetime : "Updated 5hr ago"
                      },
                      {
                        image : "./images/project-2.jpg",
                        title : "Travels & Time",
                        datetime : "Updated 3hr ago"
                      },
                      {
                        image : "./images/project-3.jpg",
                        title : "Safari Exploration",
                        datetime : "Updated 10hr ago"
                      },
                      {
                        image : "./images/project-5.jpg",
                        title : "Personal Site",
                        datetime : "Updated 4hr ago",
                      }
                    ]
                  each val in projectList
                    .row.align-items-center.project__item
                      .col-auto.d-flex
                        a.project__img-link(href="#")
                          img.project__img(
                            src= val.image
                            alt="avatar"
                          )
                      .col.project__inner
                        h4.project__heading
                          a(href="#")= val.title
                        p.text-muted.text-small.mb-0
                          time(
                            datetime= "2018-05-24"
                          )= val.datetime
                      .col-auto
                        .dropdown.project__action-list
                          a.dropdown-ellipses.dropdown-toggle(
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          )
                            i.fe.fe-more-vertical
                          .dropdown-menu.dropdown-menu-right.project__dropdown(x-placement="top-end")
                            -
                              var projectAction = ["Action", "Another action", "Something else here"]
                            each item, index in projectAction
                              a.dropdown-item(href="#")= item
                    hr.project__devider
          .col-xl-8
            .card.performance
              .card-header
                .d-flex.align-items-center
                  h4.performance__title Performance
                  ul.nav.performance__nav
                    li.nav-item#js-performance-all
                      a.nav-link.active(href="javascript:void(0)") All
                    li.nav-item#js-performance-direct
                      a.nav-link(href="javascript:void(0)") Direct
                    li.nav-item#js-performance-organic
                      a.nav-link(href="javascript:void(0)") Organic
              .card-body
                .chart
                  canvas#js-performance-chart(
                    width="628"
                    height="300"
                  )
        .row
          .col-xl-7
            .card.goals
              .card-header
                h4.goals__title Goals
                +btn-custom({link : "#", text : "Export"})(class="btn-custom--sm btn-custom--default")
              .card-body
                .table-responsive
                  table.table.goal-table
                    thead
                      tr
                        -
                          var optionSort = [
                            {
                              name : "Goal"
                            },
                            {
                              name : "status"
                            },
                            {
                              name : "progress"
                            },
                            {
                              name : "due date"
                            },
                            {
                              name : "team",
                              colspan : true
                            }
                          ]
                        each val in optionSort
                          th.js-option-sort(
                            colspan= val.colspan ? 2 : 0
                            class= val.colspan ? "text-center" : ""
                          )
                            a.goal-table__link-sort(href="javascript:void(0)")= val.name
                    tbody
                      -
                        var goalList = [
                          {
                            name : "Update the API",
                            status : "In progress",
                            progress : "55%",
                            deadline : "07/24/18",
                            team : [
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-1.jpg",
                                name : "Dianna Smiley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-2.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-3.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-4.jpg",
                                name : "Daniela Dewitt"
                              }
                            ]
                          },
                          {
                            name : "Release v1.2-Beta",
                            status : "In progress",
                            progress : "25%",
                            deadline : "08/26/18",
                            team : [
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-1.jpg",
                                name : "Dianna Smiley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-2.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-3.jpg",
                                name : "Adolfo Hess"
                              }
                            ]
                          },
                          {
                            name : "GDPR Compliance",
                            status : "Completed",
                            progress : "100%",
                            deadline : "06/19/18",
                            team : [
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-1.jpg",
                                name : "Dianna Smiley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-2.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-3.jpg",
                                name : "Adolfo Hess"
                              }
                            ]
                          },
                          {
                            name : "v1.2 Documentation",
                            status : "Cancelled",
                            progress : "0%",
                            deadline : "06/25/18",
                            team : [
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-1.jpg",
                                name : "Dianna Smiley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-2.jpg",
                                name : "Ab Hadley"
                              }
                            ]
                          },
                          {
                            name : "Plan design offsite",
                            status : "Completed",
                            progress : "100%",
                            deadline : "06/30/18",
                            team : [
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-1.jpg",
                                name : "Dianna Smiley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-2.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-3.jpg",
                                name : "Ab Hadley"
                              },
                              {
                                memberLink : "#",
                                memberImg : "./images/avatar-4.jpg",
                                name : "Daniela Dewitt"
                              }
                            ]
                          }
                        ]
                      each val in goalList
                        tr
                          td.goal-table__project= val.name
                          case val.status
                            when "In progress"
                              td.goal-table__status
                                span.status-icon.status-icon--progress= val.status
                            when "Cancelled"
                              td.goal-table__status
                                span.status-icon.status-icon--cancel= val.status
                            default
                              td.goal-table__status
                                span.status-icon.status-icon--complete= val.status
                          td.goal-table__progress= val.progress
                          td.goal-table__deadline
                            time(datetime=val.deadline)=val.deadline
                          td.goal-table__team
                            each item in val.team
                              .goal-table__avatars
                                a.goal-table__avatar(
                                  href=item.memberLink
                                  data-toggle="tooltip"
                                  title=item.name
                                  data-placement="top"
                                  )
                                  img.goal-table__img(src=item.memberImg)
                          td
                            .dropdown.project__action-list
                              a.dropdown-ellipses.dropdown-toggle(
                                href="#"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              )
                                i.fe.fe-more-vertical
                              .dropdown-menu.dropdown-menu-right.project__dropdown(x-placement="top-end")
                                -
                                  var projectAction = ["Action", "Another action", "Something else here"]
                                each item, index in projectAction
                                  a.dropdown-item(href="#")= item
          .col-xl-5
            .intro
              .row.justify-content-center
                .col-12.col-xl-10
                  .intro__inner
                    img.intro__img(src="./images/happiness.svg", alt="intro")
                  h3.intro__title We released 2008 new versions of our theme for glory.
                  p.text-muted This is a true story and totally not made up. This is going to be better in the long run but for now this is the way it is.
                  .intro__action
                    +btn-custom({link : "#", text : "Try it for free"})(class="btn-custom--primary")
            

      
